<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Task</title>
  <style>table,
  td {
    border: 1px solid #333;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }
  thread,
  tfoot {
    background-color: #333;
    color: #fff;
  }
  </style>
  <style>
    table, th, td {
      border: 1px solid black;
      padding: 3px;
    }
  </style>
</head>
<body>
<p></p>
<p></p>
<div style="background-color: dodgerblue;padding: 4px 100px">
  <h1 style="color: white;margin-left: 200px;display: inline;">All task</h1>
</div>
<table class="table table-bordered ">
  <thead>
  <tr>
    <th>Id</th>
    <th>Task name</th>
    <th>Task text</th>
    <th>Deadline</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody class="table-success">
  <tr th:each="task: ${tasks}">
    <td th:text="${task.id}"></td>
    <td th:text="${task.taskName}"></td>
    <td th:text="${task.taskText}"></td>
    <td th:text="${task.deadline}"></td>
    <td>
      <a th:href = "@{/findTask/{id}(id=${lessonId})}">
        <button>update</button>
      </a>
    </td>
    <td >
      <form th:method="DELETE" th:action="@{/deleteTask/{id}(id=${task.getId()})}">
        <input type="submit" class="btn btn-primary" th:value="delete">
      </form>
    </td>
  </tr>
  <a></a>
  </tbody>

</table>

<form action="#" th:action="@{/newTask/{id}(id=${lessonId})}" method="get">
  <p><input type="submit" value="create new task"/></p>
</form>
<form    th:action="@{/allLess/{id}(id=${lessonId})}"  method="get" >
  <p><input type="submit" value="<<Back to Lesson "/></p>
</form>
</body>
</html>
