<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>table,
    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }
    thread,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<p></p>
<p></p>
<div style="background-color: dodgerblue;padding: 4px 100px">
    <h1 style="color: white;margin-left: 200px;display: inline;">Courses</h1>
</div>
<table class="table table-bordered ">
    <thead>
    <tr>
        <th >Id</th>
        <th>Course name</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Assign</th>
        <th>Group</th>
        <th>Instructor</th>
        <th>Lessons</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="course: ${courses}" >
        <td  th:text="${course.id}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.duration}"></td>
        <td th:text="${course.description}"></td>
        <td>
            <form th:method="POST"
                  th:action="@{/course/{courseId}/assign(courseId=${course.getId()})}">
                <select name="instructor" class="form-select form-select-sm" aria-label=".form-select-sm example"
                        th:object="${group}" th:field="*{id}">
                    <option th:each="group : ${groups}"
                            th:value="${group.id}"
                            th:text="${group.groupName}"></option>
                </select>
                <input type="submit" value="submit"/>
            </form>
        </td>
        <td>
            <a th:href="@{/allGroup/{id}(id=${course.getId()})}" >
                <button>group</button>
            </a>
        </td>
        <td>
            <a th:href="@{/allIns/{id}(id=${course.getId()})}" >
                <button>instructor</button>
            </a>
        </td>
        <td>
            <a th:href="@{/allLess/{id}(id=${course.getId()})}" >
                <button>Lesson</button>
            </a>
        </td>
        <td>
            <a th:href = "@{/course/update/{id}(id=${companyId})}">
                <button>update</button>
            </a>
        </td>
        <td >
            <form th:method="DELETE" th:action="@{/course/delete/{id}(id=${course.getId()})}">
                <input type="submit" class="btn btn-primary" th:value="delete">
            </form>
        </td>
    </tr>
    <a></a>
    </tbody>

</table>

<form  action="#"  th:action="@{/course/new/{id}(id=${companyId})}"  method="get" >
    <p><input style="background-color: dodgerblue;color: white" type="submit" value="create new course"/></p>
</form>
<form    th:action="@{/allCompany}"  method="get" >
    <p><input style="background-color: dodgerblue;color: black" type="submit" value="<<Back to Companies "/></p>
</form>
</body>
</html>