<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Instructor</title>
</head>
<body>
<div style="background-color: dodgerblue;padding: 3px 50px">
    <h1 style="color: white;margin-left: 150px;display: inline;">New course</h1>
</div>
<form th:method="POST" th:action="@{/course/saveCourse/{id}(id=${companyId})}" th:object="${course}" >
    <div class="=mb-3">
        <input type="hidden" name="id" th:field="*{id}">
        <p></p>
        <label style="margin-left: 150px" for="exampleInputName" class="form-label">Course Name</label>
        <input type="text"  style="width: 190px" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
               th:field="*{courseName}">
        <div id="emailHelp" class="form-text"></div>
        <p></p>
        <div class="=mb-3">
            <label  style="margin-left: 150px"  id="label" class="form-label">Duration</label>

            <input type="text" class="form-control" id="lastName" th:field="*{duration}">
        </div>
        <p></p>
        <div class="=mb-3">
            <label  style="margin-left: 150px"   class="form-label">Description</label>

            <input type="text" class="form-control"  th:field="*{description}">
        </div>

    </div>
    <p></p>
    <button style="margin-left: 250px" type="submit" >Save</button>
</form>
</body>
</html>