<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update course</title>
</head>
<body>
<form  th:action="@{/course/updateCourse/{id}(id=${course.id})}" th:object="${course}" th:method="put">
    <p>Id: <input type="hidden" th:field="*{id}"/></p>
    <p>Course name: <input type="text" th:field="*{courseName}" placeholder="courseName"/></p>
    <p>Duration: <input type="text" th:field="*{duration}" placeholder="duration"/></p>
    <p>Description: <input type="text" th:field="*{description}" placeholder="description"/></p>
    <p><input type="submit" value="Submit"/>

</form>
</body>
</html>