<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Group</title>
</head>
<body>
<div style="background-color: dodgerblue;padding: 3px 50px">
  <h1 style="color: white;margin-left: 130px;display: inline;">New group</h1>
</div>
<p></p>
<form th:method="POST" th:action="@{/saveGroup/{id}(id=${courseId})}" th:object="${group}" >
  <div class="=mb-3">
    <label style="margin-left: 150px" for="exampleInputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
           th:field="*{groupName}">
    <p></p>
    <div id="emailHelp" class="form-text"></div>
    <div class="=mb-3">
      <label  style="margin-left: 110px" for="local" class="form-label">dateOfStart</label>
      <input type="text" class="form-control" id="local" th:field="*{dateOfStart}">
    </div>
    <p></p>
    <div class="=mb-3">
      <label style="margin-left: 150px" for="local" class="form-label">Image</label>
      <input type="text" class="form-control" id="image" th:field="*{image}">
    </div>
  </div>
  <p></p>
  <button style="background-color: indigo; margin-left: 150px; color: white" type="submit" >Save</button>

</form>
</body>
</html>